### How to print the output?

### Print Hello World

In [ ]:
print("Hello World")

In [ ]:
print("Welcome to the Python Course")

### Shortcut Keys
### Run-> Shift+Enter
### Insert cell above->a
### Insert cell below->b
### Delete a cell->x
### Add Comment -> M and shift+Enter

### Variables

In [ ]:
x=17
x

In [ ]:
print(x)

In [ ]:
name="Premalatha"
gender="Female"
Experience=15

In [ ]:
print(name)
print(gender)
print(Experience)

In [ ]:
Gender ### Case-sensive

In [ ]:
gender

In [ ]:
y=16
x="latha"
x
y

In [ ]:
x,y

In [ ]:
y,x

In [ ]:
print(x,y)

In [ ]:
z=y
z

In [ ]:
y

In [ ]:
x=y=z="test"
print (y)

In [ ]:
x,y,z=24,21,12
x

In [ ]:
y

In [ ]:
z

### Rules for naming the variables
### Variable can have alphabets[A-Z,a-z]
### Variable name should not start with a number 
### Variables donot allow spl characters other than underscore
### case sensitive

In [ ]:
Books=["DS with Python","BA with Python"]
Books

In [ ]:
books

In [ ]:
6books=["DS with Python","BA with Python"]
6books

In [ ]:
b7ooks=["DS with Python","BA with Python"]
b7ooks

In [ ]:
books-list=["DS with Python","BA with Python"]
books-list

In [ ]:
_books=["DS with Python","BA with Python"]
_books

In [ ]:
### Data Types
x=107
type(x)

In [ ]:
y=12.3
type(y)

In [ ]:
z="Analytics"
type(z)

In [ ]:
z

In [ ]:
z=Analytics
z

In [ ]:
z='Analytics'
z

In [ ]:
e=True
type(e)

In [ ]:
e="True"
type(e)

In [ ]:
h=2-3j
type(h)

In [ ]:
### implicit conversion(no inv of a programmer)
x=5
y=6.2
z=x*y
z

In [ ]:
type(z)

In [1]:
### Explicit Conversion
x=12
y="43.5"
z=x+y
z

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
z=x+float(y)
z

In [3]:
x=21
float(x)

21.0

In [4]:
x=5.6
int(x)

5

In [5]:
str(x)

'5.6'

In [6]:
bool(x)

True

In [8]:
x="Analytics"
float(x)

ValueError: could not convert string to float: 'Analytics'

In [9]:
x="Analytics"
int(x)

ValueError: invalid literal for int() with base 10: 'Analytics'

In [10]:
x="Analytics"
bool(x)

True

In [12]:
Print("Hello")

NameError: name 'Print' is not defined

In [14]:
print("Python"+" is fun")

Python is fun

In [15]:
print("Python"+ 56)

TypeError: can only concatenate str (not "int") to str

In [16]:
print("Python"+str(56))

Python56

In [17]:
### Arithmetic Operators
x=19
y=21
x+y

40

In [18]:
x-y

-2

In [19]:
x*y

399

In [20]:
x/y

0.9047619047619048

In [21]:
x**y ### x to the power y

714209495693373205673756419

In [51]:
x=9
y=10
x**y

3486784401

In [53]:
x%y ## Remainder when x>y,x when x<y

9

In [54]:
x=15
y=4
x%y

3

In [55]:
x=4
y=15
x%y

4

In [61]:
x=17 ### x>y=>Quotient,x<y=>0
y=5
x//y

3

In [65]:
x=1
y=18
x//y

0

In [66]:
x=100
y=1000000000000000
x//y

0

In [67]:
### Relational Operators
a=5
b=4
a>b

True

In [68]:
a<b

False

In [69]:
a>=b

True

In [70]:
a<=b

False

In [71]:
a==b

False

In [72]:
a!=b

True